@import '../utils/mixin.scss';
@import '../utils/variable.scss';


.anime-hide {
    display: none;
}

.anime {
    position: relative;
    margin : 20px;
    margin-bottom: 100px ;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    @media( max-width: 798px){
        margin-left: -35px;
        margin-right: -35px;
        margin-bottom: 130px;
    }


    & div {
        position: relative;
        z-index: 2;

        display: flex;
        justify-content: space-between;

        padding: 5px;
        background-color: $main-color;
        color:white;
        border-radius: 10px;

        & h2 {
            margin: 10px;
        }

        & i {
            margin: 10px;
            font-size: 30px;
        }
    } 

    & span {
        position: absolute;
            left: 20px;
            right: 20px;
        z-index: 1;
        margin-top: -10px;
        padding: 20px;
        padding-top:25px ;
        color: $main-color;
        background-color: $second-color;
        border-radius:0px 0px 10px 10px ;
    }
}

.anime-margin {
    margin-bottom: -24px;
}



/* Les différentes animation*/
.anime-margin-up {
    animation-name: spaceMarginOn ;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}
.anime-margin-down {
    animation-name: spaceMarginOff ;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}

.conditionalOpen {
    animation: conditionalOpen 1s normal forwards ease-in-out;
    transform-origin: 50% 0%;
}

.conditionalClose {
    animation: conditionalClose 1s normal forwards ease-in-out;
    transform-origin: 100% 0%;
}

.anime-spin-down {
    animation-name: spinDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;      
}

.anime-spin-up {
    animation-name: spinUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;      
}

