.Footer-header {
    background-color: black;
    padding: 40px;
    text-align: center;
    margin-top:20px;

    @media(max-width: 798px){
        margin-top: 300px;
    }
}

.Footer-logo {
    filter: brightness(100);
    width: 10%; 

    @media(max-width: 798px){
        width: 50%;
    }
    
}

.Footer-text {
    margin-top: 30px;
    margin-bottom: -30px;
    font-size: 1.2em;
    color: white;
    
    @media(max-width: 798px){
        font-size: 1em;
        margin-bottom: 0px;
    }
}