.Footer-header {
    background-color: black;
    padding: 40px;
    text-align: center;
    margin-top:20px;
}

.Footer-logo {
    filter: brightness(100);
    width: 10%; 
    
}

.Footer-text {
    margin-top: 30px;
    margin-bottom: -30px;
    font-size: 1.2em;
    color: white;
    
}