@import '../utils/variable';

.Nav {
    padding: 40px;
    margin-left: 3%;
    margin-right: 3%;
}

.Nav-header {
    display: flex;
   justify-content: space-between;
}

.Nav-logo {
    width: 14%;
}

.Nav-menu {
    display: flex;
    gap: 100px;
    font-size: 1.5em;
    color: $main-color;/*à changer */
    list-style-type:none ;
}

/* à changer avec SASS*/

ul a {
    text-decoration: none;

    & :link {
        color: $main-color;
    }

    & :visited {
        color: $main-color;
    }
}

ul a.active {
    text-decoration: underline;
}