@import "./utils/variable.scss";


.error-404 {
    text-align: center;
    margin:5%;
    font-size: 10em;
    color: $main-color;
    @media (max-width: 798px){
        margin-top:30%;
        font-size: 6em;
    }
}

.error-text {
    color: $main-color;
    text-align: center;
    font-size: 2em;
    @media (max-width: 798px){
        margin:20px;
        font-size: 1.2em;
    }
}

.error-link {
    margin-top: 10%;
    text-align: center;
    font-size: 1.5em;
    @media (max-width: 798px){
        margin-top: 40%;
    }
}

div a:link {
    color: $main-color;
}

div a:visited {
    color: $main-color;
}
