@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  
  @keyframes opacity {
    from {
      background: rgba(255, 255, 255, 0);
    } to {
      background-color: rgba(0,0,0,0.8);
    }
  }
  
  @keyframes slidein {
    from { transform: scaleY(0); }
    to   { transform: scaleY(1); }
  }

  @keyframes taadaa { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }  
      
  @keyframes conditionalOpen {
      from { transform: scaleY(0) }
      to { transform: scaleY(1) }
  }

  @keyframes conditionalClose {
      from { transform: scaleY(1) }
      to { transform: scaleY(0) }
  }

  @keyframes spaceMarginOn {
    from {margin-bottom:100px ;}
    to { margin-bottom: -24px;}
  }

  @keyframes spaceMarginOff {
    from {margin-bottom:-24px ;}
    to { margin-bottom: 100px;}
  }