/* Animation pour la flèche en fonction du collapse*/
@keyframes spinDown {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(180deg);
  }
}

@keyframes spinUp {
  from {
      transform:rotate(180deg);
  }
  to {
      transform:rotate(360deg);
  }
}



/*L'opacité des flèche du carousel*/
@keyframes opacity {
    from {
      background: rgba(255, 255, 255, 0);
    } to {
      background-color: rgba(0,0,0,0.8);
    }
  }

/*L'opacité quand une image change ou apparait */
@keyframes taadaa { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }  

/*Pour la fonction Collpase permet de dérouler le texte*/
@keyframes conditionalOpen {
      from { transform: scaleY(0) }
      to { transform: scaleY(1) }
  }

/*Pour la fonction Collpase permet de cacher le texte*/
@keyframes conditionalClose {
      from { transform: scaleY(1) }
      to { transform: scaleY(0) }
  }

/* des margin pour les espaces vides */
@keyframes spaceMarginOn {
    from {margin-bottom:100px ;}
    to { margin-bottom: -24px;}
  }

@keyframes spaceMarginOff {
    from {margin-bottom:-24px ;}
    to { margin-bottom: 100px;}
  }